---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Why from '../components/Why.astro';
import Activities from '../components/Activities.astro';
import Team from '../components/Team.astro';
import Location from '../components/Location.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Why />
    <Activities />
    <Team />
    <Location />
    <Contact />
  </main>
  <Footer />
</Layout>
